.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.movie_list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.movie_list-item {
  background-color: bisque;
}

.favourite {
  border: double 2px blue;
  background-color: #ff0000;
  color: pink;
}
